*{
  margin: -1px;
  padding: 0;
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 100px;
  height: 100px;
  background-color: rgb(246, 245, 245);
  border-radius: 50%;
  box-shadow: 0 0 0 20px red,
              0 0 0 40px orange,
              0 0 0 60px yellow,
              0 0 0 80px green,
              0 0 0 100px blue,
              0 0 0 120px indigo,
              0 0 0 140px purple;
}
.circle2 {
  width: 500px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 50%;
}